In [1]:
!pip install "camelot-py[cv]" -q

In [2]:
!apt-get install ghostscript

Reading package lists... Done
Building dependency tree
Reading state information... Done
ghostscript is already the newest version (9.50~dfsg-5ubuntu4.7).
0 upgraded, 0 newly installed, 0 to remove and 24 not upgraded.

# Convert Tables inside PDFs to Pandas Dataframe ðŸ“Œ

In [3]:
import camelot

In [4]:
#Read the PDF file using camelot

table = camelot.read_pdf("table.pdf")

table

In [5]:
# Get the Table from the list and convert it to a Pandas Dataframe

dataframe = table[0].df

dataframe.columns = dataframe.iloc[0]

dataframe[1:].head()

,Disability \nCategory,Participants,Ballots \nCompleted,Ballots \nIncomplete/ \nTerminated,Results,
1,,,,,Accuracy,Time to \ncomplete
2,Blind,5,1,4,"34.5%, n=1","1199 sec, n=1"
3,Low Vision,5,2,3,"98.3% n=2 \n(97.7%, n=3)","1716 sec, n=3 \n(1934 sec, n=2)"
4,Dexterity,5,4,1,"98.3%, n=4","1672.1 sec, n=4"
5,Mobility,3,3,0,"95.4%, n=3","1416 sec, n=3"