In [6]:
import os
os.getcwd()

'/Users/sumanthpapareddy'

# Create a Sample Data Frame ðŸ“Œ

In [1]:
import pandas as pd
import numpy as np

weather_df = pd.DataFrame(np.random.rand(10,2)*5,
                          index=pd.date_range(start="2021-01-01", periods=10),
                          columns=["Tokyo", "Beijing"])
weather_df.head(3)

               Tokyo   Beijing
2021-01-01  3.443387  0.667992
2021-01-02  0.435487  1.984459
2021-01-03  3.183332  2.629666

# Define the Function on how you want to Style it!

In [2]:
def rain_condition(v):
    if v < 1.75:
        return "Dry"
    elif v < 2.75:
        return "Rain"
    return "Heavy Rain"

def make_pretty(styler):
    styler.format(rain_condition)
    styler.format_index(lambda v: v.strftime("%A"))
    styler.background_gradient(axis=None, vmin=1, vmax=5, cmap="YlGnBu")
    return styler

# Use Styler to visualize the tabular data

In [3]:
weather_df.loc["2021-01-04":"2021-01-08"].style.pipe(make_pretty)